<footer class="bg-dark text-white mt-4 p-3 text-center">
  &copy; 2025 Busbooking. All rights reserved.
  <div class="mt-2">
    <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>
    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
    <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
  </div>
</footer>